*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-prim: 215, 19%, 25%;
  --clr-sec: 215, 5%, 70%;
  --clr-white: 43, 78%, 98%;
  --clr-green: 178, 55%, 61%;
  --clr-dark-green: 179, 81%, 29%;
  --clr-pink: 25, 94%, 86%;

  --fz-sm: 1rem; /* 16px */
  --fz-md: 1.5rem; /* 24px */
  --fz-lg: 2rem; /* 32 */
  --fz-xl: 3rem; /* 48 */
  --fz-2xl: 4rem; /* 64 */
}

html {
  font-size: 16px;
}

body {
  margin: auto;
  padding: 2rem;
  max-width: 1344px;
  background-color: hsl(var(--clr-white));
}

@media screen and (max-width: 400px) {
  body {
    padding: 0;
  }
}

h1 {
  line-height: 1;
  font-weight: 900;
  font-size: var(--fz-xl);
  color: hsl(var(--clr-white));
}

p {
  font-family: var(--barlow-font);
  font-weight: 400;
  color: hsl(var(--clr-sec));
}

/* utils */

.btn {
  width: fit-content;
  font-family: inherit;
  border: none;
  font-weight: 600;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  background-color: hsl(var(--clr-dark-green));
  color: hsl(var(--clr-white));
}

.btn:disabled {
  pointer-events: none;
  background-color: hsl(var(--clr-sec), 0.6);
}

.btn:hover,
.btn:active {
  cursor: pointer;
  background-color: hsl(var(--clr-green));
}

.btn:focus-visible {
  outline: hsl(var(--clr-prim)) 2px solid;
}

.spacing {
  margin-bottom: 10rem;
}

.spacing-sm {
  margin-bottom: 5rem;
}

.link {
  font-family: inherit;
  color: hsl(var(--clr-sec));
  text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
  cursor: pointer;
  color: inherit;
}

.link:visited {
  text-decoration: none;
}
